<section ng-controller="GroupsController" ng-init="findOneToEdit()">
  <div class="page-header">
    <h1>Join {{group.displayName}}</h1>
  </div>
  <div class="col-md-12">
    <form name="memberForm" ng-hide="group.hasSentEmails" class="form-horizontal" ng-submit="createMember(memberForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6" show-errors="{ skipFormGroupCheck: true }">
              <input name="memberDisplayName" type="text" ng-model="group.members[group.members.length - 1].displayName" class="form-control" placeholder="Name" required>
              <div ng-messages="memberForm.memberDisplayName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">I think you forgot something.</p>
              </div>
            </div>
            <div class="col-xs-6" show-errors="{ skipFormGroupCheck: true }">
              <input name="memberEmail" type="email" ng-model="group.members[group.members.length - 1].email" class="form-control" placeholder="Email" required>
              <div ng-messages="memberForm.memberEmail.$error" role="alert">
                <p class="help-block error-text" ng-message="required">I think you forgot something.</p>
                <p class="help-block error-text" ng-message="email">&hellip;that's not an email address.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Join" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
    <div ng-show="group.hasSentEmails">
      Uh-oh. Looks like you missed the deadline! All the assignments have already been set!
    </div>
  </div>
</section>
