<section ng-controller="GroupsController" ng-init="findOneToView()">
  <div class="page-header">
    <h1>{{group.displayName}}</h1>
  </div>
  <div class="col-md-12">
    <div class="row">
      <label for="eventDate">Event date:</label> {{group.eventDate}}
    </div>
    <div class="row" ng-repeat="member in group.members">
      {{member.displayName}} -> {{findOneMember(member.has).displayName}}
    </div>
    <button ng-click="randomizeAssignments()" class="btn btn-default">Randomize</button>
    <button ng-click="updateAndSendEmails()" class="btn btn-default">Close entry and send email</button>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </div>
</section>
